body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
    padding: 8px;
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

img {
    width: 300px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

nav ul {
    display: flex;
    gap: 48px;
    list-style-type: none;
}

section h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.image-section {
    display: flex;
    margin: 100px;
}

.image-text {
    display: flex;
    color: #e5e7eb;
    flex-direction: column;
    justify-content: space-around;
    padding: 48px;
    gap: 8px;
    
}

.image-text p {
    margin: 0;
}

.image-text button {
    width: 100px;
    height: 35px;
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 15%;
}


.section1 {
    background-color: #1f2937;
}

/* Start of CSS for Random Information section */
.info-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 16px;
    margin-bottom: 32px;
}


.info-section img {
    width: 150px;
    height: 150px;
    border: solid #3882F6;
    border-radius: 10%;
}

.images {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 16px;
    padding: 16px;
    
}

/* Start of Quote section */
.quote-section {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 64px;
}

.quote-section p {
    margin: 0;
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: lighter;
    font-style: italic;
}

.quote-section span {
    font-weight: bold;
    align-self: end;
}